<p><strong><%= email.object%></strong></p>
<p><%= email.body %></p>
<div class="row">
	<div class="col">
		<button class="btn btn-danger btn-sm">Supprimer</button>
	</div>
	<div class="col">
		<button class="btn btn-success btn-sm">Marquer comme non-lu</button>
	</div>
</div>